.setting-container {
    min-height: 100vh;
    z-index: 200;
}
.setting-nav {
    display: flex;
    justify-content: center;
}
.dashboard {
    display: grid;
}
.sidebar {
    grid-column: 1;
    background: rgba(102, 51, 153, 0.144);
    z-index: 99999;
    width: 300px;
    height: 95vh;
}
.dashboard-content {
    grid-column: 2 /span 11;
}
ul{
    list-style: none;
}
.sidebar ul li{
    padding: 10px;
}
a{
    text-decoration: none;
}
.sidebar ul li button {
    border: none;
    background-color: rebeccapurple;
    color: white;
    width: 100%;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    padding: 20px 30px;
}