.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navIcons > a > img {
  width: 2.5rem;
  height: 2rem;
}

.r-button {
  height: 3rem;
  width: 80%;
  align-self: center;
}
